<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>上海工业锅炉研究所有限公司 - @ViewData["Title"]</title>
    <environment include="Development">
        <link href="~/css/nei.css" rel="stylesheet" />
        <link href="/css/main.css" rel="stylesheet" />
        <link href="/css/main_sibriindex.css" rel="stylesheet" />
        <link href="~/css/comstyle.css" rel="stylesheet" />
        @RenderSection("Css", required: false)
    </environment>
    <environment exclude="Development">
        <link href="~/css/nei.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="/css/main_sibriindex.css" rel="stylesheet" />
        <link href="~/css/comstyle.css" rel="stylesheet" />
        @RenderSection("Css", required: false)
    </environment>
</head>
<body>
    @RenderSection("Header")
    @RenderBody()
    @RenderSection("Footer")
    <environment include="Development">
        <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.SuperSlide.2.1.1.js"></script><!--导航-->
        <script type="text/javascript" src="~/js/common.js"></script><!--内页导航图片切换-->
    </environment>
    <environment exclude="Development">
        @*<script src="~/js/polyfill.js"></script>*@
        <script src="~/js/jquery-1.11.1.min.js"></script>
        <script src="~/js/jquery.SuperSlide.2.1.1.js"></script>
        <script src="~/js/common.js"></script><!--内页导航图片切换-->
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>